img {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: flex;
  gap: 1rem;
}

.container {
  padding-inline: 2em;
  max-width: 80rem;
  margin: 0 auto;
}
