.footer {
    height: 100%;
    padding: 2px;
    background-color: $primary;
    margin-top: auto;
    // background-color: $primary;
    // margin: 0;
    // width: 100%;
    // text-align: center;
    // padding: 5px;
    p {
        color: $White;
        margin: 0 auto;
        text-align: center;
    }
}