.container {
    margin-top: 100px;
    margin-left: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    background: $White;
    box-shadow: -40px 40px 0px 2px $tertiary;
    height: 80vh;
    width: 55%;
}

.right-side {
    width: 80%;
    display: flex;
    margin: 50px auto;
    justify-content: center;
    .top {
        width: 600px;
        margin-bottom: 30px;
        input {
            display: inline-block;
            width: 50%;
            font-size: 20px;
            padding: 5px;
            border: none;
            border-bottom: 2px solid $secondary;
            background-color: transparent;
            resize: none;
            outline: none;
        }
        label {
            display: block;
            width: 131px;
        }
    }
    textarea {
        width: 100%;
        font-size: 20px;
        height: 300px;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        resize: none;
    }
    .button {
        width: 100%;
        padding: 2px auto;
        border: 2px solid red;
    }
    .input,
    label {}
}