.container {
    display: flex;
    padding-top: 50px;
}

.right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $White;
    .top {
        width: 600px;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 30px;
        input {
            width: 45%;
            font-size: 20px;
            padding: 10px;
            border-radius: 5px;
        }
    }
    textarea {
        width: 100%;
        font-size: 20px;
        height: 100px;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 30px;
        resize: none;
    }
    .button {
        width: 100%;
        padding: 2px auto;
    }
}