.navbar {
    font-family: $headingFont;
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    line-height: 1.45rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    display: flex;
    padding: 10px 0;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .menu {
        display: flex;
    }
    li {
        margin-right: 50px;
        // border-bottom: 4px solid $secondary;
        // padding-bottom: 5px;
    }
    a:hover {
        transition: 0.2s;
        padding-bottom: 2px;
        border-bottom: 3px solid $secondary;
    }
}