/// Index Page
.capturedAbout {
    background-color: $Ice;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80vh;
    .wrapper {
        width: 70%;
        text-align: center;
    }
    p {
        margin-bottom: 40px;
        text-align: left;
    }
    h2 {
        max-width: 100%;
    }
}

.capturedGallery {
    background-color: $White;
    margin: 90px 0;
    .capturedList {
        display: flex;
        width: 100%;
        height: 100%;
        li {
            padding: 15px;
        }
    }
}

.capturedInfo {
    background-color: $White;
    .section-container {
        display: flex;
        flex-wrap: wrap;
    }
    p {
        padding: 10px 200px;
    }
    .section-container:nth-child(odd) {
        h3 {
            margin-right: 190px;
        }
    }
    .section-container:nth-child(even) {
        /* selecting all the even no. divs with this class */
        display: flex;
        flex-direction: row-reverse;
        /* img will be on the left side of all even no. rows */
        h3 {
            margin-top: 100px;
            margin-left: 160px;
        }
    }
    .col {
        /* making content inside col centered */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col:nth-child(1) {
        /* img will have less space */
        flex: 1;
    }
    .col:nth-child(2) {
        /* text will have more space */
        flex: 2;
    }
    .section-container>.col>img {
        width: 100%;
    }
    .section-container>.col>img {
        box-shadow: 21px 20px 0px 18px $tertiary;
    }
    .section-container .columns.imageTwo img {
        box-shadow: -40px 40px 0px -1px $tertiary;
    }
    .button {
        margin-bottom: 20px;
    }
}

.capturedLinks {
    .wrapper {
        height: 70vh;
        padding: 90px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .info {
        width: 50%;
        // display: flex;
        // flex-direction: column;
    }
    h3,
    .icon {
        display: inline-block;
    }
    i {
        font-size: 30px;
    }
}

.capturedProfile {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .imgContainer {
        display: inline-block;
        width: 70%;
    }
    .infoContainer {
        margin-left: 150px
    }
    .infoContainer p {
        margin-bottom: 50px;
    }
    .imgContainer img {
        box-shadow: 32px 38px 0px 5px $tertiary;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/// Contact Page
.contactInformation {
    background-color: $Ice;
    .contactInfo {
        margin-top: 180px;
        margin-left: 200px;
        width: 25%;
        display: inline-block;
        height: 60vh;
        p {
            line-height: 15px;
        }
        h4 {
            font-size: 1.625;
            letter-spacing: 1.1px;
            margin-bottom: 30px;
        }
    }
    .social {
        display: flex;
        width: 50%;
        justify-content: left;
        i {
            margin: 20px 10px;
        }
    }
}

/// Blog Page
.blogInformation {
    .commentHeader {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 30px;
    }
}

.blogInfo {
    .sideImage {
        position: absolute;
        left: 0;
        bottom: -321px;
    }
    .blogImage {
        position: absolute;
        height: 100%;
        width: 900px;
        max-width: 100%;
        bottom: -321px;
        right: 0px;
        img {
            box-shadow: -37px 40px 0px -1px $tertiary;
        }
    }
    .wrapper {
        border-left: 5px solid $tertiary;
        border-bottom: 5px solid $tertiary;
        width: 59%;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 400px;
        margin-right: 0;
        .blogContainer {
            margin: 0 auto;
            width: 90%;
            text-align: left;
        }
        h3 {
            padding-top: 50px;
        }
    }
    .sideImageContainer {
        width: 25%;
        height: 100%;
        margin: 40px;
        ul {
            margin: 20px;
            list-style: inside;
        }
        margin-left: 100px;
    }
    .columnContainer {
        margin: 40px 40px;
        background: $White;
        p {
            width: 100%;
            margin-bottom: 100px;
        }
    }
}

.blogHeader {
    h2 {
        margin: 150px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.right-side {
    // margin-top: 2rem;
    .form-container {
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
    }
    .form-container input {
        background: transparent;
    }
    label {
        border-bottom: 2px solid $secondary;
    }
    textarea {
        background: transparent;
    }
}

.commentProfile {
    .imgContainer {
        display: inline-block;
        width: 7%;
    }
    .commentContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    p {
        margin-left: 30px;
        width: 90%;
    }
    .infoContainer {
        width: 50%;
        margin-top: 50px;
    }
}