.capturedAbout {
    background-color: $Ice;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    height: 80vh;
    .wrapper {
        width: 70%;
        text-align: center;
    }
    p {
        margin-bottom: 40px;
        text-align: left;
    }
    h2 {
        max-width: 100%;
    }
}

.capturedGallery {
    margin: 90px 0;
    .capturedList {
        display: flex;
        width: 100%;
        height: 100%;
        li {
            padding: 15px;
        }
    }
}

.capturedInfo {
    height: 100vh;
    .section-container {
        display: flex;
        flex-wrap: wrap;
    }
    p {
        padding: 10px 200px;
    }
    .section-container:nth-child(odd) {
        h3 {
            margin-right: 190px;
        }
    }
    .section-container:nth-child(even) {
        /* selecting all the even no. divs with this class */
        display: flex;
        flex-direction: row-reverse;
        /* img will be on the left side of all even no. rows */
        h3 {
            margin-top: 100px;
            margin-left: 160px;
        }
    }
    .col {
        /* making content inside col centered */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col:nth-child(1) {
        /* img will have less space */
        flex: 1;
    }
    .col:nth-child(2) {
        /* text will have more space */
        flex: 2;
    }
    .section-container>.col>img {
        width: 100%;
    }
    .section-container>.col>img {
        box-shadow: 21px 20px 0px 18px $tertiary;
    }
    .section-container .columns.imageTwo img {
        box-shadow: -40px 40px 0px -1px $tertiary;
    }
}

.capturedLinks {
    background-color: $Ice;
    .wrapper {
        height: 70vh;
        padding: 90px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .info {
        width: 50%;
        // display: flex;
        // flex-direction: column;
    }
    h3,
    .icon {
        display: inline-block;
    }
    i {
        font-size: 30px;
    }
}

.capturedProfile {
    height: 60vh;
    background-color: $Ice;
    display: flex;
    justify-content: center;
    align-items: center;
    .imgContainer {
        display: inline-block;
        width: 70%;
    }
    .infoContainer {
        margin-left: 150px
    }
    .infoContainer p {
        margin-bottom: 50px;
    }
    .imgContainer img {
        box-shadow: 32px 38px 0px 5px $tertiary;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contactInformation {
    background-color: $Ice;
    height: 70vh;
    .contactInfo {
        margin-top: 150px;
        margin-left: 200px;
        width: 25%;
        display: inline-block;
        p {
            line-height: 15px;
        }
        h4 {
            font-size: 1.625;
            letter-spacing: 1.1px;
            margin-bottom: 30px;
        }
    }
    .social {
        display: flex;
        width: 50%;
        justify-content: left;
        i {
            margin: 20px 10px;
        }
    }
}

.blogInfo {
    background-color: $Ice;
    height: 100vh;
}

.blogHeader {
    h2 {
        margin: 150px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}