.capturedAbout {
    background-color: $Ice;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 3;
    .wrapper {
        width: 70%;
        text-align: center;
        margin-top: 100px;
    }
    p {
        margin-bottom: 40px;
        text-align: left;
    }
    h2 {
        max-width: 100%;
    }
}

.capturedGallery {
    margin-bottom: 90px;
    .capturedList {
        display: flex;
        width: 100%;
        height: 100%;
        li {
            padding: 15px;
        }
    }
}

.capturedNew {
    .section-container .columns.image img {
        width: 57%;
        margin-right: auto;
        box-shadow: 21px 20px 0px 18px $tertiary;
    }
    .section-container .columns.imageTwo img {
        width: 57%;
        display: flex;
        box-shadow: -30px 45px 0px -1px $tertiary;
    }
    .section-container {
        display: flex;
        flex-wrap: wrap;
    }
    .section-container:nth-child(even) {
        // selecting all the even no. divs with this class
        display: flex;
        flex-direction: row-reverse; // img will be on the left side of all even no. rows
    }
    .col {
        // making content inside col centered
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .col:nth-child(1) {
        // img will have less space
        width: 70%;
    }
    .col:nth-child(2) {
        // text will have more space
        flex: 2;
    }
    .section-container>.col>img {
        width: 100%;
    }
    .wording a {}
}

.capturedLinks {
    background-color: $Ice;
    .wrapper {
        height: 70vh;
        // margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .info {
        // margin: 20px 10px;
        width: 40%;
        line-height: 1.15;
    }
}

.capturedProfile {
    height: 70vh;
    background-color: $Ice;
    display: flex;
    justify-content: center;
    align-items: center;
    .imgContainer {
        display: inline-block;
        width: 60%;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}