// Fonts Family
$headingFont: "Playfair Display";
$bodyFont: "Roboto";
// Font Sizes
$baseFontSize: 1rem;
// Colours (font background)
$tertiary: #fdfa69;
$secondary: #4ceea7;
$primary: #2c2c2c;
$White: #fafafa;
$Ice: #effdf3;
